.login-button{
    height: 37px;
    width: auto;
    font-size: large;
    font-weight: 500;
    background-color:white;
    color: blue;
    border: 2px solid blue;
}
.login-button:hover{
    border: 2px solid blue;
    color:white;
    background-color:blue;
}
.free-button{
    height: 37px;
    margin-left: 7%;
    width: 160px;
    font-size: 17px;
    font-weight: 500;
    background-color:blue;
    color: white;
    border: 2px solid blue;
}
.free-button:hover{
    border: 2px solid blue;
    color:blue;
    background-color:white;
}
