p{
    font-size: 15px;
}
.dropdown-menu{
    width:400px;
    position: absolute;
    top: 60px;
    text-align:start;
    list-style: none;
    border: 1px solid black;
    padding: 12px;
}
.dropdown-menu li{
    /* background: blue; */
    cursor:pointer,

}
.dropdown-menu.clicked{
    display: none;
}
.dropdown-link{
    display: block;
    width:100%;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: rgb(48, 47, 47);
    padding: 4px;
}
.dropdown-link:hover{
    color: aliceblue;
    background-color: blue;
}
/* sdfghjkljhgfddfghjkldfghjkldfghjkldfghjkledfgtyhujikolertyu */
.dropdown2-menu{
    width:200px;
    position: absolute;
    top: 60px;
    text-align:start;
    color: rgb(48, 47, 47);
    list-style: none;
    border: 1px solid black;
    padding: 20px;
}
.dropdown2-menu li{
    /* background: blue; */
    cursor:pointer,

}
.dropdown2-menu.clicked{
    display: none;
}
.dropdown2-link{
    display: block;
    width:100%;
    height: 100%;
    font-size: 17px;
    text-decoration: none;
    color: black;
    padding: 9px;
}
.dropdown2-link:hover{
    color: aliceblue;
    background-color: blue;
}
.dropdown3-menu{
    width:400px;
    position: absolute;
    top: 60px;
    text-align:start;
    list-style: none;
    border: 1px solid black;
    padding: 12px;
}
.dropdown3-menu li{
    /* background: blue; */
    cursor:pointer,

}
.dropdown3-menu.clicked{
    display: none;
}
.dropdown3-link{
    display: block;
    width:100%;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 4px;
}
.dropdown3-link:hover{
    color: aliceblue;
    background-color: blue;
}
h3{
    font-size: 16px;
    color: rgb(48, 47, 47);
    margin-top: 2px;
}
h2{
    font-size: 24px;
    color: rgb(48, 47, 47);
    margin-top: -1.5%;
}